Repository mobilecoinfoundation/attestation, pull requests merged in 2023-05, with the labels that each got.

#67 Update settings.yml file to propagate branch settings
  .github/settings.yml
Labels: size/XS

#68 Move x509 cert logic to sub-directory
  verifier/src/lib.rs
  verifier/src/x509.rs
  verifier/src/x509/certs.rs
  verifier/src/x509/error.rs
Labels: size/M

#54 Implement `Display` traits for Verifiers
  verifier/src/report_body.rs
Labels: size/L

#69 Add CRL decode and verification
  verifier/data/tests/README.md
  verifier/data/tests/processor_ca.pem
  verifier/data/tests/processor_crl.pem
  verifier/data/tests/root_crl.pem
  verifier/src/x509.rs
  verifier/src/x509/certs.rs
  verifier/src/x509/crl.rs
  verifier/src/x509/error.rs
Labels: size/L

#81 Allow merge commits
  .github/settings.yml
Labels: size/XS

#80 Reduce code owners to `CODEOWNERS` and `settings.yml`
  .github/CODEOWNERS
  .github/settings.yml
Labels: size/M

#83 Add TCB struct and parser
  verifier/Cargo.toml
  verifier/src/lib.rs
  verifier/src/tcb.rs
Labels: rust, size/M

#84 Add parsing of the `tcbInfo` inner field
  verifier/data/tests/README.md
  verifier/data/tests/example_tcb.json
  verifier/data/tests/fmspc_00906ED50000_2023_05_10.json
  verifier/src/tcb.rs
Labels: size/L

#85 Add verification of TCB data
  verifier/Cargo.toml
  verifier/data/tests/README.md
  verifier/data/tests/tcb_signer.pem
  verifier/src/lib.rs
  verifier/src/tcb.rs
Labels: rust, size/L

#86 Move common types to lib.rs
  verifier/src/lib.rs
  verifier/src/report_body.rs
Labels: size/L

#87 Convert from `CtOption` to `VerificationOutput`
  verifier/src/lib.rs
  verifier/src/report_body.rs
Labels: size/XL, 6.0.0-blocker

#48 Add `VerificationTreeDisplay`
  verifier/src/lib.rs
  verifier/src/report_body.rs
  verifier/src/struct_name.rs
Labels: size/XL, 6.0.0-blocker

#90 Add `AdvisoryVerifier`
  verifier/Cargo.toml
  verifier/src/advisories.rs
  verifier/src/lib.rs
  verifier/src/tcb.rs
Labels: rust, size/L, 6.0.0-blocker

#92 Bring in MbedTls certificate verification
  Cargo.toml
  deny.toml
  verifier/Cargo.toml
  verifier/src/x509.rs
  verifier/src/x509/error.rs
Labels: rust, size/L, 6.0.0-blocker

#94 Add CRL logic to certificate verification
  verifier/data/tests/pkits/certs/GoodCACert.crt
  verifier/data/tests/pkits/certs/InvalidMissingCRLTest1EE.crt
  verifier/data/tests/pkits/certs/InvalidRevokedCATest2EE.crt
  verifier/data/tests/pkits/certs/InvalidRevokedEETest3EE.crt
  verifier/data/tests/pkits/certs/NoCRLCACert.crt
  verifier/data/tests/pkits/certs/RevokedsubCACert.crt
  verifier/data/tests/pkits/certs/TrustAnchorRootCertificate.crt
  verifier/data/tests/pkits/crls/BadCRLSignatureCACRL.crl
  verifier/data/tests/pkits/crls/GoodCACRL.crl
  verifier/data/tests/pkits/crls/RevokedsubCACRL.crl
  verifier/data/tests/pkits/crls/TrustAnchorRootCRL.crl
  verifier/src/x509.rs
Labels: size/L, 6.0.0-blocker

#95 Add method to get the leaf certificate from cert chain
  verifier/Cargo.toml
  verifier/src/x509.rs
Labels: rust, size/M, 6.0.0-blocker

#96 Update to the 0.6.1 SGX crate versions
  verifier/Cargo.toml
  verifier/src/tcb.rs
Labels: rust, size/M, 6.0.0-blocker

#97 Add `Quote3Verifier`
  verifier/Cargo.toml
  verifier/data/tests/hw_quote.dat
  verifier/src/lib.rs
  verifier/src/quote.rs
Labels: rust, size/L, 6.0.0-blocker

#98 Add `TcbRawInfoVerifier`
  verifier/src/lib.rs
  verifier/src/tcb.rs
Labels: size/L, 6.0.0-blocker

#100 Exclude RUSTSEC-2020-0071 in cargo audit
  .cargo/audit.toml
Labels: size/XS
