Repository mobilecoinfoundation/attestation, pull requests merged in 2023-09, with the labels that each got.

#169 Update sgx crates to 0.7.5 version
  Cargo.lock
  verifier/Cargo.toml
Labels: rust, size/XS

#177 Time is now Optional
  verifier/src/certificate_chain.rs
  verifier/src/evidence.rs
  verifier/src/mbedtls.rs
  verifier/src/qe_identity.rs
  verifier/src/tcb.rs
Labels: size/L

#179 Remove bumping `codecov-action` to v4
  .github/workflows/ci.yaml
Labels: github_actions, size/XS

#180 Update sgx crates to 0.8.0 version
  Cargo.lock
  verifier/Cargo.toml
Labels: rust, size/XS

#170 Add `Serialize` and `Deserialize` to `Error`
  verifier/src/error.rs
Labels: size/M

#172 Add `PartialEq` to `Error`
  verifier/src/error.rs
Labels: size/XS

#173 Update changelog for 0.4.0
  CHANGELOG.md
Labels: size/S

#181 (cargo-release) version 0.4.0
  CHANGELOG.md
  Cargo.lock
  verifier/Cargo.toml
  verifier/README.md
Labels: rust, size/S
