Repository mobilecoinfoundation/attestation, pull requests merged in 2023-04, with the labels that each got.

#61 Add sam to codeowners
  .github/CODEOWNERS
Labels: size/XS

#60 Update repo with cookiecutter template
  .cruft.json
  .github/CODEOWNERS
  .github/auto_assign.yaml
  .github/auto_assign.yml
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/settings.yml
  .github/triage-labeler.yaml
  .github/workflows/cargo-audit.yaml
  .github/workflows/ci.yaml
  .github/workflows/copyright.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-assign.yaml
  .github/workflows/pr.yaml
  .gitignore
  CHANGELOG.md
  CLA.md
  CODE_OF_CONDUCT.md
  Cargo.toml
  LICENSE
  README.md
  deny.toml
  verifier/Cargo.toml
  verifier/README.md
Labels: size/XL, rust, github_actions

#62 Upgrade sgx crates to 0.6.0
  verifier/Cargo.toml
Labels: rust, size/XS

#51 Add verification of certificate time
  verifier/src/certs.rs
  verifier/src/lib.rs
Labels: size/L
