Repository mobilecoinfoundation/attestation, pull requests merged in 2023-07, with the labels that each got.

#125 Add `VerificationMessage` impl to `TrustedIdentitiesVerifier`
  verifier/src/identity.rs
  verifier/src/report_body.rs
Labels: size/L

#127 Add `EvidenceVerifier`
  verifier/src/certificate_chain.rs
  verifier/src/error.rs
  verifier/src/evidence.rs
  verifier/src/lib.rs
Labels: size/XL

#128 Add verification of `SignedTcbInfo` to `EvidenceVerifier`
  verifier/src/certificate_chain.rs
  verifier/src/error.rs
  verifier/src/evidence.rs
  verifier/src/tcb.rs
Labels: size/L

#130 Add `Cargo.lock`
  .github/workflows/ci.yaml
  .gitignore
  Cargo.lock
Labels: rust, github_actions, size/S

#131 Add `TrustedIdentitiesVerifier` to `EvidenceVerifier`
  verifier/src/evidence.rs
  verifier/src/identity.rs
Labels: size/L

#133 Update SGX crates to 0.7.1
  Cargo.lock
  verifier/Cargo.toml
  verifier/src/evidence.rs
  verifier/src/identity.rs
  verifier/src/report_body.rs
Labels: rust, size/M

#132 Add `Quote3Verifier` into the `EvidenceVerifier`
  verifier/src/evidence.rs
  verifier/src/quote.rs
Labels: size/L

#135 Add `CertificateChainVerifier` implementation
  verifier/Cargo.toml
  verifier/src/advisories.rs
  verifier/src/certificate_chain.rs
  verifier/src/evidence.rs
  verifier/src/identity.rs
  verifier/src/lib.rs
  verifier/src/mbedtls.rs
  verifier/src/qe_identity.rs
  verifier/src/qe_report_body.rs
  verifier/src/report_body.rs
  verifier/src/tcb.rs
Labels: size/XL, rust

#140 Advisory traits
  verifier/src/advisories.rs
Labels: size/XS

#145 (cargo-release) version 0.2.0
  CHANGELOG.md
  Cargo.lock
  verifier/Cargo.toml
Labels: rust, size/XS
